version: '3'
services:
  app:
    build: .
    ports:
      - '3000:3000'
    environment:
      MONGODB_USER: '${MONGODB_USER}'
      MONGODB_PWD: '${MONGODB_PWD}'
      SESSION_SECRET: '${SESSION_SECRET}'
      USE_SSL: '${USE_SSL}'
    depends_on:
      - mongodb

  mongodb:
    image: mongo
    restart: always
    volumes:
      - mongodb:/data/db
      - mongodb-config:/data/configdb
    environment:
      MONGO_INITDB_ROOT_USERNAME: '${MONGODB_USER}'
      MONGO_INITDB_ROOT_PASSWORD: '${MONGODB_PWD}'

  redis:
    image: redis

volumes:
  mongodb:
  mongodb-config:
