version: "3"
services:
    node-docker:
        build: .
        ports:
            - "3000:3000"
        environment:
            MONGODB_USER: "${MONGODB_USER}"
            MONGODB_PWD: "${MONGODB_PWD}"
    
    mongodb:
        image: mongo
        restart: always
        volumes:
            - mongodb:/data/db
            - mongodb-config:/data/configdb
        environment:
            MONGO_INITDB_ROOT_USERNAME: "${MONGODB_USER}"
            MONGO_INITDB_ROOT_PASSWORD: "${MONGODB_PWD}"

volumes:
    mongodb:
    mongodb-config:
